.carousel-item img {
    height: 400px; /* Висота слайдів */
    object-fit: cover; /* Збереження пропорцій зображення */
  }
  
  .card {
    margin-bottom: 20px; /* Відстань між картками */
  }
  
  /* Адаптивність для маленьких екранів */
  @media (max-width: 576px) {
    .carousel-item img {
      height: 250px; /* Менша висота для мобільних */
    }
  }
  